body {
	font-family: 'Trebuchet MS', sans-serif;
}

.bookBtn {
	background-color: #5D3FD3;
	color: white;
    border: none;
    margin-left: 15px;
	margin-right: 15px;
	padding: 15px 20px;
	border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

.bookBtn:hover {
	background-color: #5A3E79;
}

.card {
	border:none;
	border-radius: 2px;
	background-color:#e4cef0;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
	transition: transform 0.5s;
}

.card:hover {
	cursor: pointer;
	transform: scale(1.10); 
}

.card-title {
	margin-top: 0px;
}

.collapsibleBtn {
	border: none;
	background-color: #887BB0;
	text-align: left;
	padding: 10px 15px;
	border-radius: 8px;
	width: 100%;
	margin-bottom: 15px;

}

.container{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fadeInAnimation {
    0% {
        transform: translate3d(0,40px,0);
        opacity: 0;
    }
    100% {
    		transform: translate3d(0,0,0);
        opacity: 1;
     }
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: bold;
	color: #341948;
	margin-top: 20px;
	margin-bottom: 20px;
}

.home-img {
	width: 100%;
	max-height: 100%;
	object-fit: cover;
	position: relative;
	top: 0;
	left: 0;
	
}

.home-text {
	font-family: 'Trebuchet MS', sans-serif;
	font-size:100%;
}

.form-check-input {
	border-color: #A58CB3;
}


.form-control {
	border-color: #A58CB3;
}

.form-select {
	border-color: #A58CB3;
	max-width: fit-content;
	
}

.input-group-text {
	background-color: #eedff7;
	border-color: #A58CB3;

}

.modal {
	width: 100%;
}

.modal-body {
	padding: 20px;
	padding-top: 10px;
}
.modal-header {
	background-color: #e4cef0;
}

.modal-title {
	margin-top: 10px;
}

.modal-image {
	max-width: 35%;
	max-height: 35%;
	margin: 5px;
	float: right;
}

nav {
  	font-weight: bold;
  	color: white;
  	background-color:#332054;
}

.navbar-brand {
	margin-left: 15px;
	margin-right: 15px;
	color:white;
}

.navbar-brand:hover {
	color:white;
}

.nav-link {
  color: white;
  margin-left: 10px;
  margin-top: 5px;
 }

.nav-link:hover {
  color: #C576F6
}

.row {
	margin-bottom: 15px;
	max-height: fit-content;
}

.redAsterisk {
	color:red; 
	font-size: 1.15em;
}

select:invalid {
	color:gray;
}

.submitBtn {
	background-color: #5D3FD3;
	color: white;
    border: none;
	padding: 10px 10px;
	border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}