nav a { 
	padding: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
.bookBtn {
	background-color: #5D3FD3; /* iris */
	color: white;
    border: none;
    margin-left: 10px;
	margin-right: 20px;
	padding: 15px 20px;
	border-radius: 8px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}