nav {
	font-family: 'Trebuchet MS', sans-serif;
  	font-weight: bold;
}

nav .nav-underline li a{
  color: black;
  margin-left: 10px;
  margin-top: 5px;
 }

nav .nav-underline li a:hover {
  color: #702963
}

.bookBtn {
	background-color: #5D3FD3; /* iris */
	color: white;
    border: none;
    margin-left: 10px;
	margin-right: 10px;
	padding: 15px 20px;
	border-radius: 8px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-family: 'Trebuchet MS', sans-serif;
  	font-weight: bold;

}

.bookBtn:hover {
	background-color: #AA336A;
}

.col-6 {
	background-color: #CCCCFF;
}

.card {
	border: none;
	border-radius: 1px;
}

.home-img {
	float: right;
	width: 800px;
	max-height: auto;
	object-fit: contain;

}
